*{
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    font-weight: bold;
}

.nav{
 width: 100%;
 height: 50px;
 background-color: gray;


}
img{
    width: 150px;
    padding-left: 10px;
    line-height: 50px;
}    
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
}
nav ul li a{
    color: whitesmoke;
    padding: 15px 10px;
}
nav ul li a:hover{
    color: #008dd0;
    border-bottom: 2px solid #008dd0;
}

@media (max-width:768px){
    .nav ul{
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        text-align: center;
        padding: 0;
        top: 50px;
        left: -100%;
        transition: 1s;
    }
    .nav ul li{
        display: block;
        width: 100%;
        margin: 0;
    }
    .nav ul.slide{
        left: 0;
        transition: 1s;

    }
        .hamburger{
            float: right;
            padding-right: 20px;
            padding-top: 12px;
        }
        .hamburger .line{
            width: 30px;
            height: 5px;
            background-color: white;
            margin-bottom: 5px;
            display: block;
        }
}



/* slide show */


/* Slideshow container */
      
      .carousel {
        width: 100%;
        height: 100%;
        position: fixed;
      }
      
      .carousel > ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      
      .slide {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
        transition-delay: 200ms;
      }
      
      .slide > img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
      
      .slide[data-active] {
        opacity: 1;
        z-index: 1;
        transition-delay: 0ms;
      }
      
      .carousel-button {
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 2.5rem;
        top: 50%;
        transform: translateY(-50%);
        color: rgba(255, 255, 255, .5);
        cursor: pointer;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
      }
      
      .carousel-button:hover,
      .carousel-button:focus {
        color: white;
        background-color: rgb(204, 210, 211);
      }
      
      .carousel-button:focus {
        outline: 1px solid rgb(191, 214, 221);
      }
      
      .carousel-button.prev {
        left: 1rem;
      }
      
      .carousel-button.next {
        right: 1rem;
      }
