/*dark blue to light blue
rgb(19,100,154)
rgb(0,141,208)
rgb(147,194,232)
rgb(212,229,246)
*/
body {
    width: 100%;
    height: 100%;
}
h2 {
    color: rgb(19,100,154);
}
/*html, body {
    overflow-x: hidden;
}
@media(max-width: 700px) {
    body {
        min-width: 700px;
    }
}*/

/*#why-terazzo-h2 {
    color: white;
}*/


.container{
    width: 100vp;
    height:400vp;

    grid-template-columns: repeat(6,1fr);
    grid-template-rows: 100px 90vp;
}
*{

    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    
   
}

.nav{

 top: 0;
 width: 100%;
 height: 55px;
 margin: 0;
 z-index: 8;
 background-color: rgb(255, 255, 255);
 overflow: hidden;
 position: fixed;

}
img{
    width: 150px;
    padding-left: 10px;
    padding-top: 3px;
    line-height: 50px;
}    
nav ul{
    float: right;

}
nav ul li{
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
    padding: 05px;
    right: 50%;
   
   
    
}
nav ul li a{
    
   
    padding: 5px;
    outline: 1px solid #027ccd;
    border: 2px solid transparent;
    border-radius: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #0198fa;

}
nav ul li a:hover{
   
    padding: 5px;
    outline: 1px #027ccd;
    border: 2px solid #027ccd;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    
}

@media (max-width:768px){
    .nav {
        z-index: 8;
    }

    .nav ul{
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px;
        top: 50px;
        left: -100%;
        transition: 2s;
    }
    .nav ul li{
        display: block;
        width: 100%;
        margin: 0;
    }
    .nav ul.slide{
        left: 0;
        transition: 2s;

    }
        .hamburger{
            float:left;
            padding-left: 20px;
            padding-top: 12px;
        }
        .hamburger .line{
            width: 30px;
            height: 5px;
            background-color: #157bad;
            margin-bottom: 5px;
            display: block;
        }
}
div.slider{
    width: 100%;
    hieght:100%;
    background-color: gray;

}




/*@media (max-width:768px){
    .why-terazzo {
    position: absolute;
    top: 200px;
    color: white;
    left: 10px;
    right: 10px;
    font-size: 25px;
    /*font-weight: 400;*/
    /*text-shadow: 0 0 15px black, 0 0 15px black;*/
/*}*/
/*}*/

/*@media (max-width:480px){
    .why-terazzo {
    position: absolute;
    top: 150px;
    color: white;
    left: 10px;
    right: 10px;
    font-size: 35px;
    font-weight: 400;
    text-shadow: 0 0 15px black, 0 0 15px black;
}
}
*/
/*slide show */

/*.slide-container .mySlides{
    display: none;
}
*/

/*why-terazzo */
.why-terazzo {
    width: 50%;
    height: 50vw;
    justify-content: center;
    align-content: center;
    font-size: 2.4vw;
    color: white;
    padding: 20px;
    font-weight: 400;
    top: 60px;
    left: 0px;
    position: absolute;
    z-index: 5;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
}
.why-terazzo h1 {
    font-size: 1.2em;
    color: white;

}


@media (max-width:480px){
    .why-terazzo {
    top: 100px;
    font-size: 2.4vw;
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
    font-weight: 200;
    border-radius: 0;
}
}



.after-image-content  {
    margin-top: 60px;
    margin-bottom: 60px;
    width: 100%;
    height: auto;
 
    display: grid;
    grid-template-columns: repeat(auto-fit, 360px);
    padding-bottom: 50px;
    justify-content: space-evenly;
}




.after-image-content .outer-cont .cont .inner-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 1.2rem;    
    /*word-wrap: break-word;*/
    /*word-break: break-all;*/
    padding: 0 40px;

}


.after-image-content .outer-cont .cont {
    /*width: 500px; */
    /*width old value was 500    */
    /*clamp(minimum, preferred, maximum); 

    */
    width: 500px;
    height: auto;


}
@media only screen and (max-width: 950px) {
.after-image-content .outer-cont .cont {
    width: 360px;
    height: auto;

}
}

.after-image-content .cont .img  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.after-image-content .cont .img img {
    width: 350px;
    height: auto;

}

.read-more {
    margin: 0 9px;
    line-height: 25px;
    padding: 5px;
    background-color: white;
    outline: 1px solid #027ccd;
    border: 2px solid transparent;
    border-radius: 15px;
    color: #0198fa;
    justify-content: center;
  
}

.read-more:hover {
    padding: 5px;
    outline: 1px #027ccd;
    border: 2px solid #027ccd;
    transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    justify-content: center;
 
}




/* video sections */

.youtube-container {
    background: rgb(147,194,232);
}

.vid-title {
    text-align: center;
}
.youtube {
    padding-top: 60px;
    padding-bottom: 60px;
    width: 100%;
    height: auto;
    display: grid;
    /*grid-template-columns: auto auto;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.youtube .vid {
    padding-top: 20px;

}


/* clients sections */
.head{

    text-align: center;
    font-size: 25px;
    text-decoration: black;
    text-decoration: underline;
}


/*.client{
    display:block;
    float: left;
    width: 200px;
    padding-left: 30px;
    
}*/

.client-section {
    /*display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto auto auto;*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.client-section .client {
    padding-left: 50px;
}




.product-container {
    background: rgb(212, 229, 246);
    padding-bottom: 50px;

}

/*not working for now*/
/*.product-container div h2 {
    margin: 20px;
}*/

.products {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*grid-template-columns: repeat(auto-fill, 400px);*/
    /*grid-template-rows: repeat(auto-fill, auto);*/


    justify-content: space-evenly;    
}

.products img {
    position: relative;
    width: 235px;
    height: 235px;    
    padding: 20px;
    padding-left: 10px;
    border-radius: 50%;

}
/*emperimental */


/*.prod1 {
    width: 210px;
    height: 202px;
    border-radius: 50%;


}*/

.prod1 h3 {
    color: transparent;
    position: absolute;
    z-index: 5;
    text-align: center;
    border-radius: 50%;

    width: 210px;
    height: 202px;

     margin-left: 8px;
    margin-top: 16px;
    /*background: rgba(0, 0, 0, 0);*/
    text-align: center;
    padding-top: 35px;
}
div.prod1 > h3:hover{
    position: absolute;
    z-index: 5;
    width: 210px;
    height: 202px;
    border-radius: 50%;
    color: white;
    background: rgba(0, 0, 0, .3);
    text-align: center;


     margin-left: 8px;
    margin-top: 16px;
    /*background: rgba(0, 0, 0, 0);*/
    text-align: center;
    padding-top: 35px;


}



/* footer */






.footer{
    background-color: #303036;
    color: white;
    height: auto; 
    /*height: 400px; */
    position: relative;
}

.footer .f-content{
    border:1px solid lightblue;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}
.footer .f-content div {
    width: 300px;
    height: auto;
    
    padding-top: 35px;
    padding-left: 30px;
}

.footer .f-content div p{
    padding-bottom: 58px;
}







.footer .f-bottom h5{
    margin: 0;
   background: #343a40;
   color: white;
    width: 100%;
    height: 50px;

    text-align: center;
    line-height: 50px;
    position: absolute;
    left: 0;
    /*padding-bottom: 0;*/
}


.slide-container {
    margin-top: 60px;
    width: 100%;
    height: auto;
}
