*{
        margin: 0;
        font-family: sans-serif;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;

}
.nav {

    top: 0;
    width: 100%;
    height: 60px;
    margin: 0;
    z-index: 8;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    position: fixed;

}
.nav img {
    width: 150px;
    padding-left: 10px;
    padding-top: 3px;
    line-height: 50px;

}
nav ul {
    float: right;

}

nav ul li {
    display: inline-block;
    margin: 0 10px;
    line-height: 50px;
    padding: 05px;
    right: 50%;
    /*      float: right;

    position: relative;
    left: -150%;  or right 50% 
    text-align: left; */



}

nav ul li a {


    padding: 5px;
    outline: 1px solid #027ccd;
    border: 2px solid transparent;
    border-radius: 15px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    color: #0198fa;

}

nav ul li a:hover {

    padding: 5px;
    outline: 1px #027ccd;
    color: white;
    /* border: 2px solid #027ccd; */
    background-color: #027ccd;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;

}


@media (max-width:768px) {
    .nav {
        z-index: 8;
    }

    .nav ul {
        position: fixed;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(255, 255, 255);
        text-align: center;
        padding: 0px;
        top: 50px;
        left: -100%;
        transition: 2s;
    }

    .nav ul li {
        display: block;
        width: 100%;
        margin: 0;
    }

    .nav ul.slide {
        left: 0;
        transition: 2s;

    }

    .hamburger {
        float: left;
        padding-left: 20px;
        padding-top: 12px;
    }

    .hamburger .line {
        width: 30px;
        height: 5px;
        background-color: #157bad;
        margin-bottom: 5px;
        display: block;
    }
}

h1{
    margin-top: 60px;
    width: 100%;
    height:60px;
    color: #0a57b5;
    text-align: center;
    padding-top: 10px;
    border-top:2px solid rgb(2, 136, 208);
    border-bottom: 2px solid rgb(2, 136, 208);
   
}
.product{
    width: 100%;
    height: 1800px;
    
}
.product img{
    width: 300px;
    height: 300px;
    display: block;
    border-radius: 50%;
    
}
.product{
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 159, 159);
    padding-bottom: 250px;

}
.product1,.product2,.product3,.product4,.product5{
    display: flex;
    flex-direction: row;
    background-color: white;
    border: 10px solid white;
 
    
      
    
}

.product1 .description {
   flex: auto;
   width: fit-content;
   height: 300px;
   text-align:center;
   padding-left: 17%;

   
   

}
/* .product1 h2{
    padding-left:25%;
} */

.product2 .description{
    flex: auto;
    text-align: center;
    padding-right: 19%;

}.product3 .description{
    flex: auto;
    text-align: center;
    padding-left: 17%;

}.product4 .description{
    flex:auto;
    text-align: center;
    padding-right: 19%;

}.product5 .description{
    flex: auto;
    text-align: center;
    padding-left: 17%;

}

h2{
    font-weight: 200;
    
}

.product1,.product3,.product5 {
   
    justify-content: flex-end;
    margin: 20px 10% 20px 10%;   
    /* border-top-right-radius: 160px; 
    border-bottom-right-radius: 160px; */
    border-radius: 160px;
}
.product2,.product4 {
   
    justify-content: flex-start;
    margin: 20px 10% 20px 10%;
    border-radius: 160px;    
}
.description{
    display: flex;
    flex-direction: column;
}
.options{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  
.description .name h2{
    
    height: 60px;
    text-align: center;
    padding-top:10px;
   
}
.description .options p{
    outline: 1px solid #027ccd;
    padding: 5px 10px;
    margin: 5px 20px;
    border-radius: 14px;
    

}
.product5{
    flex-direction: row;
}

