*{
    margin: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
.nav {

top: 0;
width: 100%;
height: 60px;
margin: 0;
z-index: 8;
background-color: rgb(255, 255, 255);
overflow: hidden;
position: fixed;

}
.nav img {
width: 150px;
padding-left: 10px;
padding-top: 3px;
line-height: 50px;

}
nav ul {
float: right;

}

nav ul li {
display: inline-block;
margin: 0 10px;
line-height: 50px;
padding: 05px;
right: 50%;
/*      float: right;

position: relative;
left: -150%;  or right 50% 
text-align: left; */



}

nav ul li a {


padding: 5px;
outline: 1px solid #027ccd;
border: 2px solid transparent;
border-radius: 15px;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;
color: #0198fa;

}

nav ul li a:hover {

padding: 5px;
outline: 1px #027ccd;
color: white;
/* border: 2px solid #027ccd; */
background-color: #027ccd;
-webkit-transition: all 0.2s ease-in-out;
transition: all 0.2s ease-in-out;

}


@media (max-width:768px) {
.nav {
    z-index: 8;
}

.nav ul {
    position: fixed;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    padding: 0px;
    top: 50px;
    left: -100%;
    transition: 2s;
}

.nav ul li {
    display: block;
    width: 100%;
    margin: 0;
}

.nav ul.slide {
    left: 0;
    transition: 2s;

}

.hamburger {
    float: left;
    padding-left: 20px;
    padding-top: 12px;
}

.hamburger .line {
    width: 30px;
    height: 5px;
    background-color: #157bad;
    margin-bottom: 5px;
    display: block;
}
}

h1{
margin-top: 60px;
width: 100%;
height:60px;
color: #ffffff;
background-color: #003e89;
text-align: center;
padding-top: 10px;
border-top:2px solid rgb(2, 136, 208);
border-bottom: 2px solid rgb(2, 136, 208);

}
.product{
width: 100%;
height: 1800px;

}
.product img{
width: 300px;
height: 300px;
display: block;
border-radius: 50%;

}
.product{
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 1000px;
    max-height: auto;
    flex-wrap: wrap;
    
}

.product{
    display: flex;
    flex-direction: column;
    background-color: #003e89;
    padding-bottom: 250px;
    

}
.product1,.product2,.product3,.product4,.product5{
    display: flex;
    width:320px;
    height: 900px;
    flex-direction: column;
    background-color: white;
    border: 10px solid white;
    border-radius: 160px;
    margin-top: 50px;  
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 2px 2px 30px black;
}
.product{
    align-items: center;
}

.description .name h2{
    margin-top: 30px;
    text-align: center;
    color: #003e89;
    border-top: 5px solid #027ccd;
    border-bottom: 5px solid #027ccd;
    height: 70px;
    width: 300px;
    padding-top: 18px;
    /* border-radius: 30px; */
   

}
.product3 .description .name h2{
    padding-top:5px;
}
.description .options p{
    margin: 20px auto;
    text-align: center;
    font-size: 17px;

}
.description .options p:hover{
    font-weight: bold;
    color: #003e89;
    font-size: 18px;
}